<h1> Modificar información de cita </h1>

  <%= simple_form_for @cit  do |f| %>
    <%= f.input :fecha, as: :date %>
    <%= f.input :hora, as: :time %>
    <%= f.input :diagnostico, as: :text %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  <br>
  <%= link_to "Volver al listado", cit_path, class: "btn btn-primary" %>
